<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Proyectos</title>
  <link rel="stylesheet" href="../Css/style.css">

</head>
<body>
  <!-- Navbar -->
  <nav id="desktop-nav">
    <div class="logo"><img class="logo-img" src="../assets/logo.webp" alt=""></div>
    <div>
      <ul class="nav-links">
        <li><a href="../Views/Index.html">Inicio</a></li>
        <li><a href="../Views/Servicios.html">Servicios</a></li>
        <li><a href="../Views/Aprendiendo.html">Aprendizaje</a></li>
        <li><a href="../Views/Contacto.html">Contacto</a></li>
      </ul>
    </div>
  </nav>
  <nav id="hamburger-nav">
    <div class="logo"><img class="logo-img" src="../assets/logo.webp" alt=""></div>
    <div class="hamburger-menu">
      <div class="hamburger-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu-links" style="z-index: 99;">
        <li><a href="../Views/Index.html" onclick="toggleMenu()">Inicio</a></li>
        <li><a href="../Views/Servicios.html" onclick="toggleMenu()">Servicios</a></li>
        <li><a href="../Views/Aprendiendo.html">Aprendizaje</a></li>
        <li><a href="../Views/Contacto.html" onclick="toggleMenu()">Contacto</a></li>
      </div>
    </div>
  </nav>
  <!--Proyectos-->
  <section id="projects">
    <p class="section__text__p1">Explora mis proyectos</p>
    <h1 class="title">Mis Proyectos</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container color-container">
          <div class="article-container">
            <img
              src="https://i.pinimg.com/564x/0d/c1/81/0dc181f58202615ae3d228e9b444e6c1.jpg"
              alt="Mental Space Project"
              class="project-img"
            />
          </div>
          <h2 class="experience-sub-title project-title">Mental Space</h2>
          <p>ASP.NET Core MVC Salud Mental con historias,relatos y comentarios</p>
          <div class="btn-container">
            <button
              class="btn btn-color-2 project-btn"
              onclick="window.open('https://github.com/CristhoferRivas/MentalSpace')"
            >
              Ver en GitHub
            </button>
          </div>
        </div>
        <div class="details-container color-container">
          <div class="article-container">
            <img
              src="https://i.pinimg.com/564x/29/e9/ec/29e9ece63e7d3182267d851edf48f1c5.jpg"
              alt="BTU Calculator Project"
              class="project-img"
            />
          </div>
          <h2 class="experience-sub-title project-title">BTU Calculadora</h2>
          <p>Html,Css,Js Calculadora de Btu para consumo de areas</p>
          <div class="btn-container">
            <button
              class="btn btn-color-2 project-btn"
              onclick="window.open('https://github.com/CristhoferRivas/BTU-Calculator')"
            >
              Ver en Github
            </button>
          </div>
        </div>
        <div class="details-container color-container">
          <div class="article-container">
            <img
              src="https://i.pinimg.com/564x/d4/43/c9/d443c970c669eb945ff047dd6dbd171b.jpg"
              alt="E-Commerce System Project"
              class="project-img"
            />
          </div>
          <h2 class="experience-sub-title project-title">E-Commerce System</h2>
          <p>ASP.NET Core MVC Tienda de libros online</p>
          <div class="btn-container">
            <button
              class="btn btn-color-2 project-btn"
              onclick="window.open('https://github.com/CristhoferRivas/E-Commerce-System')"
            >
              Ver en github
            </button>
          </div>
        </div>
        <div class="details-container color-container">
          <div class="article-container">
            <img
              src="
              https://i.pinimg.com/564x/f9/26/39/f92639962a644e09883a74f2e07a2f30.jpg"
              alt="Banner de peliculas"
              class="project-img"
            />
          </div>
          <h2 class="experience-sub-title project-title">Api de peliculas</h2>
          <p>ASP.NET Core Api Para consultar peliculas con categoria y nombre</p>
          <div class="btn-container">
            <button
              class="btn btn-color-2 project-btn"
              onclick="window.open('https://github.com/CristhoferRivas/E-Commerce-System')"
            >
              Ver en github
            </button>
          </div>
        </div>
        <div class="details-container color-container">
          <div class="article-container">
            <img
              src="https://i.pinimg.com/564x/3c/cc/1c/3ccc1c283f8ad63cef0988c633926e9e.jpg"
              alt="Banner de peliculas"
              class="project-img"
            />
          </div>
          <h2 class="experience-sub-title project-title">Api de Villas</h2>
          <p>ASP.NET Core Api Consumida en .Net MVC para alquilar villas y obtener datos de calificacion</p>
          <div class="btn-container">
            <button
              class="btn btn-color-2 project-btn"
              onclick="window.open('https://github.com/CristhoferRivas/E-Commerce-System')"
            >
              Ver en github
            </button>
          </div>
        </div>
      </div>
    </div>    
  </section>

<h1 class="title">Proximos Proyectos</h1>
  <section id="projects">
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container color-container">
            <div class="article-container">
              <img
                src="https://i.pinimg.com/564x/3d/19/41/3d194122c0e0363074011343492eb0da.jpg"
                alt="Mental Space Project"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Listado Heroes</h2>
            <p>Crud Angular listado de personajes marvel y dc</p>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="window.open('https://github.com/CristhoferRivas/MentalSpace')"
              >
                Ver en GitHub
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="https://i.pinimg.com/564x/32/18/bb/3218bbc8814ab7b3ceba55b644954ae7.jpg"
                alt="Mental Space Project"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Clon-Epic Games</h2>
            <p>Blazor clon sencillo con apartados de mis juegos,tienda,inicio</p>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="window.open('https://github.com/CristhoferRivas/MentalSpace')"
              >
                Ver en GitHub
              </button>
            </div>
          </div>
        </div>
    </div>

  </section>

</body>
<script src="../Scripts/responsive.js">

</script>
</html>
